.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  background-color: #fff;
  width: 1112px;
  box-shadow: 0px 1px 2px rgb(31 41 55 / 8%);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  gap:15px;

  @media (max-width: 1200px) {
    width: auto;
    margin: 50px 20px;
  }

  @media (max-width: 800px) {
    padding: 20px 5px;
    align-items: unset;
  }

  @media (max-width: 600px) {
    margin: 50px 10px;
  }
}

.event {
  text-decoration: none;
}

.button {
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  width: 190px;
  height: 40px;
  display: flex;
  justify-content: center;
  background: #f9fafb;
  border-radius: 4px;
  border: none !important;
  box-shadow: none;
  color: #8f8f8f;

  @media (max-width: 600px) {
    width: auto;
  }

  &:hover {
    background: #eee9f7;
    color: #921a64 !important;
  }
}

.profileWrapper {
  display: flex;
  gap: 5px;
  flex-direction: column;
  background: #f9fafb;
  padding: 50px 0 150px 0;
  min-height: 100vh;
}

.containerMenu {
  display: flex;
  justify-content: center;

  @media (max-width: 700px) {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
  }
}

.profileContainer {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;

  @media (max-width: 500px) {
    gap: 10px;
  }
}

.pagination div button {
  background-color: #ffffff !important;
  border-radius: 50% !important;
  border: 1px solid #c8cbcf;
  box-shadow: 0px 1px 2px #1f293714 !important;
  width: 26px !important;
  height: 26px !important;
}

.pagination li a {
  color: unset !important;
  width: 13px !important;
  height: 24px !important;
}

.pagination li div a {
  color: #000 !important;
}

.pagination li {
  color: #ffffff;
  border: none !important;
  background-color: unset !important;
  display: flex!important;
  align-items: center;
  width: 14px !important;
  height: 24px !important;
  line-height: unset!important;
  justify-content: center!important;
}

.pagination li span button {
  background-color: revert !important;
  border-radius: 50% !important;
  height: 24px !important;
  width: 24px!important;
}

.pagination li span a {
  display: flex!important;
  align-items: center;
  justify-content: center;
}
