.right {
  @media (max-width: 1940px) {
    width: calc(238px - 5vw);
    height: calc(280px - 5vh);
  }

  @media (max-width: 1440px) {
    width: 238px;
    height: 280px;
  }

  @media (max-width: 1350px) {
    width: calc(238px - 10vw);
    height: calc(280px - 10vh);
  }

  @media (max-width: 1000px) {
    display: none;
  }
}
