.logoImage {
  width: 426px;
  height: 75px;
  padding-bottom: 20px;

  @media (max-width: 800px) {
    width: 340px;
  }
}

.signUpWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: calc(100vh - 188px);

  @media (max-width: 800px) {
    min-height: calc(100vh - 252px);
    padding: 30px 0;
  }

  @media (max-width: 600px) {
    height: auto;
    padding: 50px 0;
  }
}

.formBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.email label {
  font-size: 16px !important;
  width: 190px !important;
}

.password label {
  font-size: 16px !important;
  width: 190px !important;
}

.rectangleLeft {
  width: 469px;
  position: absolute;
  left: 0;
  bottom: 60px;

  @media (max-width: 1280px) {
    display: none;
  }
}

.rectangleRight {
  width: 212px;
  position: absolute;
  right: 0;
  top: 70px;

  @media (max-width: 1280px) {
    display: none;
  }
}

.logo {
  font-family: var(--font-butler);
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  display: flex;
  gap: 20px;
  align-items: flex-end;
  letter-spacing: -0.03em;
  text-decoration-line: underline;
  color: var(--LibertyMeets-Purple-500A);
  mix-blend-mode: normal;
  text-decoration-style: solid;
}

.inputEmail {
  height: 38px;
  min-width: 339px;
  transition: 0.5s;

  &:hover {
    transition: 0.5s;
    border-color: #921a64 !important;
  }
}

.inputPassword {
  height: 38px;
  min-width: 339px;
  transition: 0.5s;

  &:hover {
    transition: 0.5s;
    border-color: #921a64 !important;
  }
}

.dontHave {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #929292;
}

.signUp {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #333333;
  text-decoration: none;
}

.checkboxBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.checkbox {
  min-height: 32px;
}

.signUp {
  display: flex;
  justify-content: center;
}

.capchaBlock {
  display: flex;
  align-items: center;
  gap: 15px;
}

.recapcha {
  height: 62px;
  width: 62px;
  background-color: rgb(169, 250, 243);
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
  margin-left: 20px;

  @media (max-width: 570px) {
    margin: 0;
  }
}

.container .checkHighload {
  display: none;
}

.highload2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #ffffff;
  border: 1px solid #921a64;
  border-radius: 2px;
  padding: 1px;
}

.container .checkHighload:checked ~ .highload2 {
  background-color: #ffffff;
}

.highload2:after {
  content: "";
  position: absolute;
  display: none;
}

.container .checkHighload:checked ~ .highload2:after {
  display: block;
}

.container .highload2:after {
  left: 8px;
  top: 0;
  width: 5px;
  height: 16px;
  border: solid #921a64;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkboxText {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #333333;

  @media (max-width: 800px) {
    font-size: 18px;
  }
}

.checkboxTerms {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #921a64;
}

.buttonSignUp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 137px;
  height: 40px;
  background: #921a64;
  border-radius: 4px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  transition: 0.5s;

  &:hover {
    transition: 0.5s;
    background-color: #640674 !important;
  }
}

.link {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: #333333;
  transition: 0.5s;

  &:hover {
    transition: 0.5s;
    color: #921a64;
  }
}

.email {
  padding-bottom: 20px;
}

.password {
  padding-bottom: 20px;
}
