.buttonDay {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #921a64;
  padding: 6px 16px;
  gap: 4px;
  width: min-content;
  background: #eee9f7;
  border-radius: 4px;
  border: none;
}

.eventsPageContainer {
  background: #f9fafb;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 10px;
  align-items: center;
  margin: 0px 10px;

  @media (max-width: 1000px) {
    width: 100%;
    padding: 0px;
  }

  @media (max-width: 400px) {
    width: 100%;
    margin: 0px 10px;
  }
}

.navigation {
  position: sticky;
  top: 80px;
  display: flex;
  justify-content: space-between;
  padding: 21px 44px 23px;
  border-bottom: 1px solid var(--LibertyMeets-Purple-100);
  background-color: var(--LibertyMeets-Background);

  @media (max-width: 1150px) {
    top: 94px;
  }

  @media (max-width: 1150px) {
    padding: 20px;
  }
}

.eventsSubBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonDay {
  margin: 25px 0 25px 25px;
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 1112px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;

  @media (max-width: 1250px) {
    width: 1000px;
  }

  @media (max-width: 1050px) {
    width: 100%;
  }
}

.wrap {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;

  @media (max-width: 500px) {
    gap: 10px;
  }

  .event {
    width: 100%;
    text-decoration: none;
  }
}
