.container {
  display: flex;
  flex-direction: column;
  background-color: var(--LibertyMeets-Background);
  width: 100%;
  min-height: calc(100vh - 176px);
  box-sizing: border-box;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-left: 78px;
  margin-top: 35px;
  border: 1px solid var(--LibertyMeets-Purple-400);
  border-radius: 50%;

  @media (max-width: 900px) {
    margin-left: 10px;
  }
}

.backImage {
  width: 23px;
  aspect-ratio: 23 / 7;
}

.myPostContainer {
  position: relative;

  display: flex;
  gap: 105px;
  width: 75%;
  padding: 50px 59px 48px 53px;
  margin: 16px auto 40px auto;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  background-color: var(--LibertyMeets-White);
  box-sizing: border-box;

  @media (max-width: 1250px) {
    gap: 50px;
  }

  @media (max-width: 900px) {
    flex-direction: column;
  }

  @media (max-width: 600px) {
    width: calc(100% - 2 * 20px);
    margin: 30px 20px;
    padding: 30px;
  }
}

.myPostInfo {
  width: calc(55% - 105px / 2);
  display: flex;
  flex-direction: column;

  @media (max-width: 1250px) {
    width: calc(55% - 50px / 2);
  }

  @media (max-width: 900px) {
    width: 100%;
  }
}

.myPostMap {
  width: calc(45% - 105px / 2);
  overflow: hidden;

  @media (max-width: 1250px) {
    width: calc(45% - 50px / 2);
  }

  @media (max-width: 900px) {
    width: 100%;
  }
}

.myPostTags {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 28px;
}

.myPostStar {
  width: 24px;
  height: 24px;
}

.myPostCategory {
  padding: 5px 19px;
  border-radius: 50px;
  background-color: rgba(#911f64, 0.2);
  color: var(--LibertyMeets-Purple-400);
  font-family: "Roboto";
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}

.myPostTitle {
  margin-bottom: 22px;
  color: var(--LibertyMeets-Black);
  font-family: "Roboto";
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
}

.myPostDescription {
  margin-bottom: 18px;
  color: var(--LibertyMeets-UtilityBlack);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

.myPostLocation {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;

  & * {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--LibertyMeets-UtilityGrey);
    text-align: left;
  }
}

.myPostButtons {
  display: flex;
  gap: 20px;
  margin-top: auto;

  @media (max-width: 400px) {
    flex-direction: column;
  }
}

.myPostReply {
  width: fit-content;
  height: 35px;
  padding: 8px 28px;
  border-radius: 5px;
  border: 1px solid var(--LibertyMeets-Purple-500B);
  background-color: var(--LibertyMeets-Purple-500B);
  color: var(--LibertyMeets-White);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  text-align: center;

  &:hover {
    border: 1px solid var(--LibertyMeets-Purple-600) !important;
    background: var(--LibertyMeets-Purple-600);
    color: var(--LibertyMeets-White) !important;
  }

  @media (max-width: 400px) {
    width: 100%;
  }
}

.blockedTitle {
  font-family: "Butler";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  text-transform: capitalize;
  color: #ff8b00;

  @media (max-width: 700px) {
    font-size: 34px;
    padding: 0 20px;
    text-align: center;
  }
}

.blockedWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px 0 40px 0;
  background: #fffae6;
  border-top: 8px solid #ff8b00;
  border-radius: 8px;
}

.publicity {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.currently {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #8f8f8f;

  &:hover {
    color: #d9041e;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.currentlyActive {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #8f8f8f;

  &:hover {
    color: #921a64;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.public {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20.0151px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #d9041e;

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.publicityImage {
  cursor: pointer;
}

.publicActive {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20.0151px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #921a64;

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.question {
  @media (max-width: 600px) {
    width: 21px;
    height: 21px;
  }
}

.select {
  position: absolute;
  top: 15px;
  right: 0;
  background: url("./../../../public/decor/EditDots.svg");
  background-repeat: no-repeat;

  & div span {
    font-family: "Inter" !important;
    font-style: normal !important;
    font-weight: 400;
    font-size: 20px !important;
    line-height: 30px;
    color: #8f8f8f;
    padding-left: 8px !important;
    box-sizing: border-box;

    @media (max-width: 600px) {
      font-size: 17px !important;
    }
  }
}

.modalImages {
  display: flex;
  justify-content: center;
  gap: 66px;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  padding: 70px 60px 20px 60px;
  gap: 20px;
}

.modalTitle {
  font-family: "Butler";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #471b51;
}

.modalText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #471b51;
}

.option {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8f8f8f;

  &:hover {
    color: #921a64 !important;
  }
}

.optionContainer {
  &:hover {
    background-color: #efeff4 !important;
  }
}
