.container{
    display: flex;
    flex-direction: column; 
    background-color: #f9fafb;
    width: 100%;
    min-height: 100vh;
}

.backButtonText{
    font-family:'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #000000;   

    @media (max-width: 600px) {
        display: none!important;
    }
}

.backBlock{
    margin: 20px 0 0 50px;

    @media (max-width:1300px) {
        margin: 10px 0 0 10px;
    }
}

.backButton{
    display: flex;
    gap:10px;
    height: 52px;

    @media (max-width:1300px) {
        align-items: center;
        padding: 0!important;
    }
}

.backImage{
    @media (max-width:600px) {
        width: 35px;
    }
}

.myPostContainer{
    background-color: #fff;
    margin: 120px auto 40px auto;
    max-width: 1072px;
    padding: 50px 30px 55px 30px;
    gap:30px;
    display: flex;
    border-radius: 8px;
    flex-direction: column;

    @media (max-width:1300px) {
        max-width: 100%;
        box-sizing: border-box;
        margin: 40px 20px 40px 20px;
    }

    @media (max-width:600px) {
        gap:15px;
        padding: 20px 10px 55px 10px;
        margin: 20px 10px 40px 10px;
    }
}

.myPostTitle{
    font-family: 'Butler';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #000000;

    @media (max-width:600px) {
        margin-top: 40px;
        font-size: 36px;
    }
}

.categoryButton{
    padding: 8px 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #921A64;
    border-radius: 4px;
    width: min-content;

    @media (max-width:600px) {
        width: min-content;
        height: min-content;
        padding: 3px 20px;
    }
}

.categoryButtonText{
    font-family:'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    @media (max-width:600px) {
        font-size: 17px;
    }
}

.title{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #0D0D0C;
}

.titleText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    word-wrap: break-word;
    max-width: 90%;

    @media (max-width:600px) {
        font-size: 17px;
    }
}

.titleBlock{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.categoryBlock{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.category{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #0D0D0C;
}

.descriptionBlock{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.description{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #0D0D0C;
}

.descriptionText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    width: 90%;
    word-wrap: break-word;
}

.publicity{
    display: flex;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
}

.currently{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #8F8F8F;

    &:hover{
        color: #D9041E;
    }

    @media (max-width:600px) {
        font-size: 16px;
    }
}

.currentlyActive{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-transform: capitalize;
        color: #8F8F8F;

        &:hover{
            color: #921A64;
        }
        @media (max-width:600px) {
            font-size: 16px;
        }

}

.public{
    font-family:'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20.0151px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #D9041E;

    @media (max-width:600px) {
        font-size: 16px;
    }
}

.publicityImage{
    cursor: pointer;
}

.publicActive{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20.0151px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #921A64;

    @media (max-width:600px) {
        font-size: 16px;
    }
}

.location{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #0D0D0C;
}

.question{
    @media (max-width:600px) {
        width: 21px;
        height: 21px;
    }
}

.cardBlock{
    display: flex;
    gap:30px;

    @media (max-width:1080px) {
        flex-direction: column;
        gap:10px;
    }
}

.topBlock{
    display: flex;
    position: relative;
    justify-content: center;
}

.select{
    position: absolute;
    right: -155px;

    @media (max-width:1400px) {
        left:5px;
        width: 40%!important;
    }

    @media (max-width:600px) {
        width: 50%!important;
        left:10px;
    }
}

.select div span{
    font-family: 'Inter'!important;
    font-style: normal!important;
    font-weight: 400;
    font-size: 20px!important;
    line-height: 30px;
    color: #8F8F8F;

    @media (max-width:600px) {
        font-size: 17px!important;
    }
}


.editSvg{
    position: absolute;
    right: 55px;
    top:3px;

    @media (max-width:1400px) {
        left:0;
    }

    @media (max-width:600px) {
        left:3px;
    }
}

.modalImages{
    display: flex;
    justify-content: center;
    gap: 66px;
}

.modalContainer{
    display: flex;
    flex-direction: column;
    padding: 70px 60px 20px 60px;
    gap:20px;
}

.modalTitle{
    font-family: 'Butler';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #471B51;
}

.modalText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #471B51;
}

.option{
    display: flex;
    gap:20px;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #8F8F8F;
    &:hover{
        color: #921A64!important;
    }
}

.optionContainer{
    &:hover{
        background-color: #EFEFF4!important;
    }
}

