.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fffae6;
  flex-direction: column;
  gap: 30px;
}

.message {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #10020a;
  width: 40%;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 1000px) {
    width: 80%;
  }
}

.codeMessage {
  font-family: "Butler";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: capitalize;
  color: #921a64;
  width: 50%;
  text-align: center;
  width: min-content;
  border-bottom: 1px solid #921a64;
  margin: 0;
}

.blockResend {
  display: flex;
  gap: 10px;
}

.text {
  font-family: "Inter";
}

.resend {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  height: 40px;
  color: #333333;
  transition: 0.5s;

  &:hover {
    transition: 0.5s;
    color: #921a64 !important;
  }
}
