.mapContainer{
  width: 842px;
  height: 460px;
  margin: 0 auto;

  @media (max-width: 1080px) {
    width: 528px!important;
    height: 330px!important;
  }

  @media (max-width: 600px) {
    width: 328px !important;
    height: 230px!important;
  }
}