.logoImage {
  width: 426px;
  height: 75px;
  padding-bottom: 40px;

  @media (max-width: 800px) {
    width: 340px;
  }
}

.changeWrapper {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url('../../public/decor/Rectangle-864.svg'), url('../../public/decor/Rectangle-865.svg');
  background-repeat: no-repeat;
  background-position: bottom 70px left, top 76px right;
  background-size: 469px, 212px;

  @media (max-width:1300px) {
    background-size: 369px, 172px;
    background-position: bottom 0 left, top 0 right;
  }

  @media (max-width:1080px) {
    height: auto;
    background-size: 299px, 172px;
  }

  @media (max-width:800px) {
    padding: 30px 0;
    background: unset;
  }

  @media (max-width:600px) {
    height: auto;
    padding: 50px 0;
  }
}

.formBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.goods {
  font-family: 'Butler';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  display: flex;
  gap: 20px;
  align-items: flex-end;
  letter-spacing: -0.03em;
  text-decoration-line: underline;
  color: var(--LibertyMeets-Purple-500A);
  mix-blend-mode: normal;
  text-decoration-style: solid;
}

.inputPassword {
  height: 38px;
  width: 100%;

  &:hover {
    border-color: #921a64 !important;
  }
}

.password {
  margin-bottom: 60px;

  @media (max-width:800px) {
    margin-bottom: 70px;
  }

  & label {
    font-size: 16px !important;
  }

  & div div {
    min-width: 90px !important
  }
}

.logIn {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.buttonLogIns {
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  border-radius: 4px;
  background: #921a64;
  display: flex;
  gap: 10px;
  align-items: center;

  &:hover {
    background: #640674 !important;
  }
}

.buttonLogInsText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.form {
  min-width: 640px;
  max-width: min-content;

  @media (max-width: 800px) {
    max-width: 100%;
    min-width: 100%;
  }
}