.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 48px;
  gap: 20px;
  background: var(--LibertyMeets-Purple-100);
  justify-content: space-between;

  @media (max-width: 1200px) {
    padding: 20px 8px;
  }

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  @media (max-width: 700px) {
    padding: 20px 20px;
  }
}

.logo img {
  height: 40px;

  @media (max-width: 500px) {
    height: 30px;
  }
}

.navigation {
  font-family: "Inter";
  display: flex;
  gap: 20px;

  @media (max-width: 700px) {
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 30px;
  }

  @media (max-width: 400px) {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

.navigationItem {
  list-style-type: none;
}

.navigationItemLink {
  text-decoration: none;
}

.logOut {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  height: 40px;
  color: #333333;
  transition: 0.5s;

  &:hover {
    color: #921a64 !important;
    transition: 0.5s;
  }

  @media (max-width: 1200px) {
    font-size: 18px;
  }
}

.myProfile {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  height: 40px;
  color: #333333;
  transition: 0.5s;

  &:hover {
    color: #921a64 !important;
    transition: 0.5s;
  }

  @media (max-width: 1200px) {
    font-size: 18px;
  }
}

.createPosts {
  padding: 8px 16px;
  gap: 10px;
  width: 174px;
  height: 40px;
  background: #921a64;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.5s;
  border: none !important ;

  @media (max-width: 1200px) {
    width: auto;
  }

  &:hover {
    transition: 0.5s;
    background: #640674;
    border: none !important ;
  }
}

.createPostsText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

  @media (max-width: 1200px) {
    font-size: 18px;
  }
}

.search {
  background: #921a64;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  width: 263px;
  height: 40px;
  border-radius: 4px;
  transition: 0.5s;
  border: none !important ;

  @media (max-width: 1200px) {
    width: auto;
  }

  &:hover {
    transition: 0.5s;
    background: #640674;
    border: none !important ;
  }
}

.searchText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

  @media (max-width: 1200px) {
    font-size: 18px;
  }
}
