<div> 
<h1 style="color: #921A64">Dear User,</h1>

<p>Thank you for signing up for LibertyMeets! In order to ensure the security of your account, we require all users to verify their email address.</p>

<p>Please click on the following link to verify your email address: <a href=<%= url %>/account/verification/<%= message %>><%= url %>/account/verification/<%= message %></a>.</p>

<p>If you have any issues with the verification process, please don't hesitate to reach out to our support team at support@libertymeets.com. We are always here to help.</p>

<p>Thank you for choosing LibertyMeets. We are looking forward to helping you stay connected with your loved ones.</p>

<p>Best regards,</p>

<p>The LibertyMeets Team</p>
</div>
