<div> 
<p>Thank you for signing up for LibertyMeets! In order to ensure the security of your account, we require all users to verify their email address.</p>

<p>Please click on the following link to verify your email address: <a href="<%= resetUrl %>"><%= resetUrl %></a>.</p>

<p>If you have any issues with the verification process, please don't hesitate to reach out to our support team at <a href="mailto:<%= supportEmail %>"><%= supportEmail %></a>. We are always here to help.</p>

<p>Best regards,</p>

<p>The LibertyMeets Team</p>
</div>
