.container{
    min-height: calc(100vh - 188px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #f9fafb;
    flex-direction: column;
    gap:30px;
}

.message{
    font-family: 'ButlerBold';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #921A64;
    width: 40%;
    text-align: center;
    text-transform: uppercase;
    
    @media (max-width:1000px) {
        width: 80%;
        font-size: 36px;
    }
}

.codeMessage{
    font-family: 'ButlerBold';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #921A64;
    width: 50%;
    text-align: center;
    width: min-content;
    border-bottom:1px solid #921A64;
    margin: 0;
}