.cancel {
  height: 35px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: var(--LibertyMeets-Purple-400) !important;
  padding: 8px 28px;
  border: 1px solid var(--LibertyMeets-Purple-400) !important;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 5px;

  &:hover {
    background: #eee9f7;
  }
}

.backLink {
  text-decoration: none;
}

.cancelLink {
  text-decoration: none;
}

.preview {
  height: 35px;
  padding: 8px 28px;
  gap: 10px;
  background: var(--LibertyMeets-Purple-400);
  border-radius: 5px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff !important;
  box-sizing: border-box;
  border: none !important;

  &:hover {
    background: #640674;
  }
}

.buttonBlock {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.backBtn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #000000;

  @media (max-width: 1080px) {
    display: none !important;
  }
}

.arrow {
  margin-left: 78px;

  @media (max-width: 900px) {
    margin: 10px;
  }
}

.arrowBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1px solid var(--LibertyMeets-Purple-400);
  border-radius: 50%;
}

.arrowBtnImg {
  width: 23px;
  aspect-ratio: 23 / 7;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 35px 0;
  background-color: #f9fafb;
  width: 100%;
}

.mapContainer {
  display: flex;
  justify-content: space-between;
  gap: 59px;
  overflow: hidden;

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 20px;
  }
}

.createContainer {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  margin: 29px auto;
  padding: 63px 66px 238px;
  gap: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: 1072px;
  box-sizing: border-box;

  @media (max-width: 1080px) {
    margin: 40px 15px;
    width: auto;
  }

  @media (max-width: 600px) {
    padding: 20px 10px;
    margin: 20px 10px;
  }
}

.title {
  font-family: "Butler";
  font-weight: 600;
  font-size: 48px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postTitleInput {
  min-width: auto;
  max-height: 40px !important;
  border: 1px solid #8f8f8f !important;

  @media (max-width: 1080px) {
    min-width: auto;
  }
}

.categorySelect {
  & div {
    align-items: center;
    min-height: 40px !important;
    border: 1px solid #8f8f8f !important;
  }
}

.categorySelectOption {
  min-width: auto;

  @media (max-width: 1080px) {
    min-width: auto;
  }
}

.descriptionTextarea {
  min-width: auto;

  @media (max-width: 1080px) {
    min-width: auto;
  }
}

.descriptionTextarea {
  & textarea {
    padding-top: 5px;
    border: 1px solid #8f8f8f !important;
  }

  &::after {
    position: absolute;
    bottom: 10px;
    right: 12px;
  }
}

.public {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0px 40px 0px;
}

.location {
  display: flex;
  flex: 0 0 calc(60% - 59px / 2);

  @media (max-width: 1125px) {
    flex: 0 0 calc(50% - 59px / 2);
  }

  @media (max-width: 1080px) {
    flex-direction: column;
    gap: 20px;
  }

  @media (max-width: 900px) {
    align-self: center;
  }
}

.remember {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}

.previewLink {
  text-decoration: none;
}

.inputContainer {
  display: flex;
  gap: 38px;
  flex-direction: column;

  & label::before {
    color: var(--LibertyMeets-UtilityBlack) !important;
  }
}

.wrapperContainer {
  display: flex;
  gap: 59px;
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 20px;
  }
}

.postTitle,
.category {
  flex: 0 0 calc(50% - 59px / 2);

  @media (max-width: 600px) {
    flex: 0 0 100%;
  }
}

.postTitleText {
  margin-bottom: 0;

  & div div {
    min-width: 205px !important;

    @media (max-width: 600px) {
      max-width: auto !important;
    }
  }
}

.categoryText {
  margin-bottom: 0;

  & div div {
    min-width: 95px !important;

    @media (max-width: 600px) {
      max-width: auto !important;
    }
  }
}

.descriptionText {
  margin-bottom: 22px;

  & div div {
    min-width: 95px !important;

    @media (max-width: 600px) {
      max-width: auto !important;
    }
  }
}

.locationContainer {
  flex: 0 0 calc(40% - 59px / 2);
  padding-top: 40px;

  @media (max-width: 1125px) {
    flex: 0 0 calc(50% - 59px / 2);
  }
}

.city {
  margin-bottom: 33px;

  & label {
    width: 170px !important;
  }
}

.cityInput {
  display: flex;
  height: 40px;
  border: 1px solid #8f8f8f !important;
}

.zipCode {
  margin-bottom: 49px;

  & label {
    width: 170px !important;
  }

  & label::before {
    color: var(--LibertyMeets-UtilityBlack) !important;
  }
}

.zipCodeInput {
  display: flex;
  height: 40px;
  border: 1px solid #8f8f8f !important;
}
