.mi{
    padding: 4px 12px;
    gap: 8px; 
    width: 90px;
    height: 38px;
    border: 1px solid #8F8F8F;
    border-radius: 4px;

    &:hover{
        border-color: #921A64!important;
    }
}

.loc{
    padding: 4px 12px;
    gap: 8px; 
    width: 90px;
    height: 38px;
    border: 1px solid #8F8F8F;
    border-radius: 4px;
    
    &:hover{
        border-color: #921A64!important;
    }
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:70px;

    @media (max-width:1000px) {
        flex-direction: column;
        gap:20px;
    }
}

.location{
    display: flex;
    gap:20px;
}

.radius{
    display: flex;
    align-items: center;
    gap:10px;
}

.place{
    display: flex;
    align-items: center;
    gap:10px;
}

.text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #333333;

    @media (max-width:600px) {
        font-size: 15px;
    }
}

.button{
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    gap: 8px;
    padding: 8px 36px;
    background: unset;
    border-radius: 4px;
    border: none;
    color: #8F8F8F;
    box-shadow: none;

    @media (max-width:1200px) {
        font-size: 16px;
        padding: 5px 18px;
    }

    &:hover{
        color: #921A64!important;
        background: #EEE9F7!important;
        border-color: unset!important;
    }
}

.activeButton{
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    gap: 8px;
    padding: 8px 36px;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    color: #921A64!important;
    background: #EEE9F7!important;
    border-color: unset!important;

    @media (max-width:1200px) {
        font-size: 16px;
        padding: 5px 18px;
    }
}

.tabs{
    display: flex;
    gap:10px;
    justify-content: space-between;

    @media (max-width:700px) {
        




justify-content: space-evenly;
        flex-wrap: wrap;
        gap:20px;
    }

}

