@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --LibertyMeets-Purple-100: #efeff4;
  --LibertyMeets-Purple-500: #921a64;
  --LibertyMeets-Purple-500A: #6f2cff;
  --LibertyMeets-Purple-900: #471b51;
  --LibertyMeets-UtilityBlack: #333333;
  --LibertyMeets-UtilityGrey: #8f8f8f;
  --LibertyMeets-Background: #f9fafb;
  --LibertyMeets-Warning_Accent: #ff8b00;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100%;
}

.wrapper {
  position: relative;
  height: 95px;
  background: var(--LibertyMeets-Purple-100);
}


.main {
  flex-grow: 1;
}

header {
  flex-grow: 0;
}
footer {
  margin-top: auto;
  flex-grow: 0;
}