:root {
  --LibertyMeets-Purple-100: #efeff4;
  --LibertyMeets-Purple-500: #921a64;
  --LibertyMeets-Purple-500A: #6f2cff;
  --LibertyMeets-Purple-900: #471b51;
  --LibertyMeets-UtilityBlack: #333333;
  --LibertyMeets-UtilityGrey: #8f8f8f;
  --LibertyMeets-Background: #f9fafb;
  --LibertyMeets-Warning_Accent: #ff8b00;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 48px;
  gap: 20px;

  height: 90px;

  background: var(--LibertyMeets-Purple-100);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 48px;
  gap: 40px;

  position: relative;
  height: 95px;

  background: var(--LibertyMeets-Purple-100);
}

.rectangle-right {
  position: absolute;
  left: 1202px;
  top: 166px;
}

.rectangle-left {
  position: absolute;
  left: 0px;
  top: 496px;
}

.clickableText {
  color: var(--LibertyMeets-UtilityBlack);

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.clickableText:hover {
  color: var(--LibertyMeets-Purple-500);
  cursor: pointer;
}

.defaultPage {
  background-color: #f9fafb;
  padding: 200px 184px;
}
.defaultPage > div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 60px auto;
  padding: 30px 36px;
  gap: 8px;

  width: 862px;

  background: #ffffff;

  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;
}
