.valuesBlock {
  background-color: var(--LibertyMeets-Background);
  color: var(--LibertyMeets-UtilityBlack);
}

.valuesText {
  color: var(--LibertyMeets-Purple-500A);

  font-family: 'InterSemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
}

.purpleBlock {
  background-color: var(--LibertyMeets-Purple-900);
  color: var(--LibertyMeets-Background);
}

.goods {
  font-family: 'ButlerBold';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;

  display: flex;
  align-items: flex-end;
  letter-spacing: -0.03em;
  text-decoration-line: underline;

  color: var(--LibertyMeets-Purple-500A);

  mix-blend-mode: normal;
}
